<section id="content" class="m-t-lg wrapper-md animated fadeInDown">
	<div class="container aside-xxl">
	  <a class="navbar-brand block" href="#">SoyReceptor</a>
	  <section class="panel panel-default m-t-lg bg-white">
	    <header class="panel-heading text-center">
	      <strong>Recuperar Password</strong>
	    </header>
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form', :class => 'panel-body wrapper-lg'}) do |f| %>
		<%= devise_error_messages! %>
	      <div class="form-group">
	        <%= f.label :email, :class => 'control-label' %>
	        <%= f.email_field :email, :autofocus => true, class: 'form-control input-lg', :placeholder => 'usuario@miempresa.com' %>
	      </div>
		  <%= f.submit 'Recuperar Password', :class => 'btn btn-primary' %>
	      <div class="line line-dashed"></div>
		  <%= link_to 'Ingresar a mi Cuenta', new_session_path(resource_name), :class => 'btn btn-default btn-block' %>
	    <% end %>
	  </section>
	</div>
</section>
