<!-- Titulo Pagina -->
<header class="header b-b b-light hidden-print">
  <button href="#" class="btn btn-sm btn-info pull-right" onClick="window.print();">Imprimir</button>
  <p>Comprobante <%= @comprobante.to_s %></p>
</header>
<!-- /Titulo Pagina -->

<!-- Comprobante -->

<section class="scrollable wrapper">

  <!-- Tiene Advertencias -->
  <div class="alert alert-warning alert-block text-left">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><i class="fa fa-bell-alt"></i>Advertencias</h4>
    <ul>
		<li>La moneda MXN ....</li>
	</ul>
  </div>
  <!-- /Tiene Advertencias -->
  
  <!-- Tiene Faltas -->
  <div class="alert alert-danger alert-block text-left">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4><i class="fa fa-bell-alt"></i>Faltas</h4>
    <ul>
		<li>La moneda MXN ....</li>
	</ul>
  </div>
  <!-- /Tiene Faltas -->
  
  <i class="fa fa-apple fa fa-3x"></i>
  <div class="row">
    <div class="col-xs-6">
      <h4><%= @comprobante.emisor.nombre %></h4>
      
	  <p>
		  <%= raw @comprobante.emisor.direccion_html %>
		  <br />
	      <% if !@comprobante.lugarExpedicion.blank? %>
		  	<strong>Expedido En:</strong> <%= @comprobante.lugarExpedicion %>
		 <% end %>
      </p>
	  
    </div>
    <div class="col-xs-6 text-right">
		
      <p class="h4">UUID: <strong><%= @comprobante.TimbreFiscalDigital.uuid %></strong></p>
	  <p class="h4">Serie-Folio: <strong><%= @comprobante.serie + " " + @comprobante.folio %></strong></p>
      <h5><%= @comprobante.fecha %></h5><br>
	  
    </div>
  </div>
  <p class="">
  	  <strong>Etiquetas</strong><br>
      <div id="MyPillbox" class="pillbox clearfix">
        <ul>
          <li class="label bg-success">Efectivo</li>
          <li class="label bg-warning">MXN</li>
          <li class="label bg-danger">Ingreso</li>
          <li class="label bg-info">Item Five</li>
          <li class="label bg-success">Item Six</li>
		  <% @comprobante.tags_from(@comprobante.user).each do |tag| %>
		  
		  	  <li class="label bg-dark"><%= tag %></li>
		  
		  <% end %>
          <input type="text" placeHolder="agregar etiqueta">
        </ul>
      </div>
  </p>
  <div class="well m-t">
    <div class="row">
      <div class="col-xs-6">
        <strong>RECEPTOR:</strong>
        <h4><%= @comprobante.receptor.nombre %></h4>
        <p>
          <%= raw @comprobante.receptor.direccion_html %>
        </p>
      </div>
      <div class="col-xs-6">
	  	
		Tipo de Comprobante: <strong><%= @comprobante.tipoDeComprobante %></strong><br>
		Moneda: <strong>MXN</strong><br>
		Tipo de Cambio: <strong>1.00</strong><br>
		No. Serie CSD: <strong><%= @comprobante.noCertificado %></strong><br>
		No. Serie CSD SAT: <strong><%= @comprobante.TimbreFiscalDigital.noCertificadoSAT %></strong><br>
		Forma de Pago: <strong><%= @comprobante.formaDePago %></strong><br>
		Método de Pago: <strong><%= @comprobante.metodoDePago %></strong>
		
      </div>
    </div>
  </div>
  
  <div class="line"></div>
  <table class="table">
    <thead>
      <tr>
        <th width="60">CANTIDAD</th>
		<th width="60">UNIDAD</th>
        <th>DESCRIPCION</th>
        <th width="140">PRECIO UNITARIO</th>
        <th width="90">IMPORTE</th>
      </tr>
    </thead>
    <tbody>
	  
	  <% @comprobante.xml_obj.conceptos.each do |concepto| %>
	  
        <tr>
          <td><%= concepto.cantidad %></td>
  		  <td><%= concepto.unidad %></td>
          <td><%= concepto.descripcion %></td>
          <td align="right"><%= number_to_currency(concepto.valorUnitario) %></td>
          <td align="right"><%= number_to_currency(concepto.importe) %></td>
        </tr>
	  
	  <% end %>
      
	  <tr>
        <td colspan="4" class="text-right"><strong>Subtotal</strong></td>
        <td align="right"><%= number_to_currency(@comprobante.subTotal) %></td>
      </tr>
      <tr>
        <td colspan="4" class="text-right no-border"><strong>Descuento</strong></td>
        <td align="right">???</td>
      </tr>
      <tr>
        <td colspan="4" class="text-right no-border"><strong>IVA</strong></td>
        <td align="right">???</td>
      </tr>
      <tr>
        <td colspan="4" class="text-right no-border"><strong>IEPS</strong></td>
        <td align="right">???</td>
      </tr>
      <tr>
        <td colspan="4" class="text-right no-border"><strong>IVA Ret.</strong></td>
        <td align="right">???</td>
      </tr>
      <tr>
        <td colspan="4" class="text-right no-border"><strong>ISR</strong></td>
        <td align="right">???</td>
      </tr>
      <tr>
        <td colspan="4" class="text-right no-border"><strong>Total</strong></td>
        <td align="right"><strong><%= number_to_currency(@comprobante.total) %></strong></td>
      </tr>
    </tbody>
  </table>
	<div class="well m-t">
		<div class="row">
			<div class="col-xs-12">
				<%= image_tag 'cbb.png' %>
				<br>
				<strong>Cadena Original del Complemento de Certificacion:</strong>
				<p style="word-wrap: break-word;">
					||1.0|69D4C012-49AF-4EE0-95E4-A56070146011|2014-05-07T10:09:31|gUwU+dMWaYZIHDIhAIVcm8sSY8HESN4s8fYOir2ADWHmTPFUsq6IDyX1VKt kp8LTNZJL/wod96LXcX45vxqU/h9XHf/2oI0l7MI40y2GsC29tvyaLc90GD+vuIcHf3sGaUadZgclAn07FmL7N2tU1VVN0bQowQ/KjWcsdFPN114=|00001000 000201455572||
				</p>
				<strong>Sello Digital del CFDi:</strong><br>
				<p style="word-wrap: break-word;">
					<%= @comprobante.sello %>
				</p>
				<strong>Sello Digital del SAT:</strong><br>
				<p  style="word-wrap: break-word;">
					<%= @comprobante.TimbreFiscalDigital.selloSAT %>
				</p>
			</div>
		</div>
	</div>
	<strong>NOTA: Esta vista no substituye la representación impresa original del comprobante.</strong>
</section>

<!-- /Comprobante -->

<% content_for :specific_js do %>

<script type="text/javascript" charset="utf-8">
	
	$('#MyPillbox').on('added', function( event, data ) {
		
		var formData = new FormData();
		formData.append('tag', data);
		formData.append('id', '<%= @comprobante.id %>');
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '<%= add_tag_url %>');
		xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
		xhr.onload = function () {
		  if (xhr.status === 200) {
			  // do nothing
		  } else {
		    alert('Error al agregar tag.');
		  }
		};
		
		xhr.send(formData);
	});
	
	$('#MyPillbox').on('removed', function( event, data ) {
		
		var formData = new FormData();
		formData.append('tag', data.text);
		formData.append('id', '<%= @comprobante.id %>');
		var xhr = new XMLHttpRequest();
		xhr.open('POST', '<%= remove_tag_url %>');
		xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
		xhr.onload = function () {
		  if (xhr.status === 200) {
			  // do nothing
		  } else {
		    alert('Error al eliminar tag.');
		  }
		};
		
		xhr.send(formData);
	});
	
</script>

<% end %>