<% content_for :breadcrumbs do %>
<!-- Breadcrumbs -->
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
  <li><a href="index.html"><i class="fa fa-home"></i> Inicio</a></li>
  <li>Comprobantes</li>
  <li class="active">Recibidos</li>
</ul>
<!-- /Breadcrumbs -->
<% end %>

<!-- Titulo Pagina -->
<div class="m-b-md">
  <h3 class="m-b-none">Comprobantes Recibidos</h3>
</div>
<!-- /Titulo Pagina -->

<!-- Lista de Emitidos -->
<section class="panel panel-default">
  <header class="panel-heading">
    Listado de Comprobantes Recibidos por la Empresa
  </header>
  <div class="row wrapper">
	<%= form_tag recibidos_path, :method => 'get' do |f| %>
		<%= hidden_field_tag 'page', params[:page]  %>
    <div class="col-sm-5 m-b-xs">
      <span class="help-block m-b-none">Desde</span>
	  <input class="input-sm input-s datepicker-input form-control" name="from" size="10" type="text" value="<%= @from %>" data-date-format="yyyy-mm-dd" id="date_from" >
	  <span class="help-block m-b-none">Hasta</span>
	  <input class="input-sm input-s datepicker-input form-control" name="to" size="10" type="text" value="<%= @to %>" data-date-format="yyyy-mm-dd"  id="date_to" >
    </div>
    <div class="col-sm-4 m-b-xs">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-sm btn-default <%= 'active' if params[:options]=='0' %>">
          <input type="radio" name="options" id="option_dia" onChange="set_dia();"> Hoy
        </label>
        <label class="btn btn-sm btn-default <%= 'active' if params[:options]=='1' %>">
          <input type="radio" name="options" id="option_semana" onChange="set_semana();"> Semana
        </label>
        <label class="btn btn-sm btn-default <%= 'active' if params[:options]=='2' %>">
          <input type="radio" name="options" id="option_mes" onChange="set_mes();"> Mes
        </label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group">
		    <span class="help-block m-b-none">Palabra Clave</span>
			  <input type="text" class="input-sm form-control" size="30" placeholder="RFC, Razon Social, ..." data-toggle="tooltip" data-placement="top" title="RFC, Razon Social, UUID, ..." name="q" value="<%= params[:q] %>">
			  <span class="help-block m-b-none">&nbsp;</span>
			  <%= button_tag "Buscar", class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
	<% end %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th width="20"></th>
          <th>UUID, Serie-Folio</th>
          <th>Emisor (RFC, Razón Social)</th>
		  <th class="text-center">Total</th>
          <th class="th-sortable">Fecha
            <span class="th-sort">
              <a><i class="fa fa-sort-down text"></i></a>
              <a><i class="fa fa-sort-up text-active"></i></a>
              <a><i class="fa fa-sort"></i></a>
            </span>
		  </th>
          <th width="30"></th>
        </tr>
      </thead>
      <tbody>
		<% @recibidos.each do |r| %>
		
	        <tr>
	          <td><i class="text-success fa fa-circle"></i></td>
	          <td><%= r.to_s %></td>
	          <td><%= r.emisor.to_s %></td>
	          <td class="text-right"><%= number_to_currency(r.total) %></td>
	          <td><%= r.fecha %></td>
			  <td><%= link_to 'Ver', r, :class => "btn btn-info"  %></td>
	        </tr>
		
		<% end %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
      	<small class="text-muted inline m-t-sm m-b-sm"><%= page_entries_info @recibidos %></small>
      </div>
      <div class="col-sm-4 text-center">
        <%= link_to 'Exportar a XLS', :from => "#{params[:from]}", :to => "#{params[:to]}", :q => "#{params[:q]}", :format => :xls %> 
      </div>
      <div class="col-sm-4 text-right text-center-xs">                
        <%= paginate @recibidos %>
      </div>
    </div>
  </footer>
</section>
<!-- /Lista de Emitidos -->

<% content_for :specific_js do %>

<script type="text/javascript" charset="utf-8">
	
	function set_dia(){
		$("#date_from").val('<%= Date.today %>');
		$("#date_to").val('<%= Date.today %>');
	}

	function set_semana(){
		$("#date_from").val('<%= Date.today.at_beginning_of_week %>');
		$("#date_to").val('<%= Date.today.at_end_of_week %>');
	}

	function set_mes(){
		$("#date_from").val('<%= Date.today.at_beginning_of_month %>');
		$("#date_to").val('<%= Date.today.at_end_of_month %>');
	}
	
</script>

<% end %>
