<% content_for :breadcrumbs do %>
<!-- Breadcrumbs -->
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
  <li><a href="index.html"><i class="fa fa-home"></i> Inicio</a></li>
  <li>Comprobantes</li>
  <li class="active">Por Etiquetas</li>
</ul>
<!-- /Breadcrumbs -->
<% end %>

<!-- Titulo Pagina -->
<div class="m-b-md">
  <h3 class="m-b-none">Comprobantes Por Etiquetas</h3>
</div>
<!-- /Titulo Pagina -->

<!-- Lista de Comprobantes por Etiquetas -->
<section class="panel panel-default">
  <header class="panel-heading">
    Listado de Comprobantes Por Etiquetas
  </header>
  <div class="row wrapper">
	<%= form_tag tags_path, :method => 'get' do |f| %>
		<%= hidden_field_tag 'page', params[:page]  %>
		<%= hidden_field_tag 'tags', params[:tags]  %>
	    <div class="col-sm-9 m-b-xs">
		  <p class="">
		  	  <strong>Etiquetas</strong><br>
		      <div id="MyPillbox" class="pillbox clearfix">
		        <ul id='tags_input'>
		  		  <% @tags.each do |tag| %>
	  
		  		  	  <li class="label bg-dark"><%= tag %></li>
	  
		  		  <% end %>
		          <input type="text" placeHolder="teclear etiqueta(s)">
		        </ul>
		      </div>
		  </p>
		  <%= button_tag "Buscar", class: 'btn btn-sm btn-default' %>
	    </div>
	    <div class="col-sm-3">
	      
	    </div>
	<% end %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th width="20"></th>
          <th>UUID, Serie-Folio</th>
          <th>Receptor (RFC, Razón Social)</th>
		  <th class="text-center">Total</th>
          <th class="th-sortable">Fecha
            <span class="th-sort">
              <a><i class="fa fa-sort-down text"></i></a>
              <a><i class="fa fa-sort-up text-active"></i></a>
              <a><i class="fa fa-sort"></i></a>
            </span>
		  </th>
          <th width="30"></th>
        </tr>
      </thead>
      <tbody>
		<% @comprobantes.each do |e| %>
		
	        <tr>
	          <td><i class="text-success fa fa-circle"></i></td>
	          <td><%= e.to_s %></td>
	          <td><%= e.receptor.to_s %></td>
	          <td class="text-right"><%= number_to_currency(e.total) %></td>
	          <td><%= e.fecha %></td>
			  <td><%= link_to 'Ver', e, :class => "btn btn-info"  %></td>
	        </tr>
		
		<% end %>
		<!--
        <tr>
          <td><i class="text-success fa fa-circle"></i></td>
          <td>550e8400-e29b-41d4-a716-446655440000, A-27</td>
          <td>CTD030903I70, Captiva Tecnología Digital S.A. de C.V.</td>
          <td>$58,236.00</td>
          <td>
            2014-02-25T13:05:27
          </td>
		  <td><a href="#" class="btn btn-info">Ver</a></td>
        </tr>
        <tr>
          <td><i class="text-warning fa fa-circle" data-toggle="tooltip" data-placement="right" title="Advertencias"></i></td>
          <td>550e8400-e29b-41d4-a716-446655440000, MTY-3567</td>
          <td>JP0102030405JK1, Productos y Derivados S.A. de C.V.</td>
          <td>$127,090.36</td>
          <td>
            2014-02-25T13:05:27
          </td>
		  <td><a href="#" class="btn btn-info">Ver</a></td>
        </tr>
        <tr>
          <td><i class="text-danger fa fa-circle" data-toggle="tooltip" data-placement="right" title="Faltas"></i></td>
          <td>550e8400-e29b-41d4-a716-446655440000, </td>
          <td>CTD030903I70, Captiva Tecnología Digital S.A. de C.V.</td>
          <td>$1,234,678.50</td>
          <td>
            2014-02-25T13:05:27
          </td>
		  <td><a href="#" class="btn btn-info">Ver</a></td>
        </tr>
		-->
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
      	<small class="text-muted inline m-t-sm m-b-sm"><%= page_entries_info @comprobantes %></small>
      </div>
      <div class="col-sm-4 text-center">        
      </div>
      <div class="col-sm-4 text-right text-center-xs">
		<%= paginate @comprobantes %>
      </div>
    </div>
  </footer>
</section>
<!-- /Lista de Comprobantes por Etiquetas -->

<% content_for :specific_js do %>

<script type="text/javascript" charset="utf-8">
	
	$('#MyPillbox').on('added', function( event, data ) {
		
		var list = new Array();
		var i = 0;
		$('#tags_input').find('li').each(function(){
			//console.log("VALOR: " + $(this).html())
			list[i] = $(this).html();
			i++;
		});
		$('#tags').val(list);
		
	});
	
	$('#MyPillbox').on('removed', function( event, data ) {
		
		var list = new Array();
		var i = 0;
		$('#tags_input').find('li').each(function(){
			//console.log("VALOR: " + $(this).html())
			list[i] = $(this).html();
			i++;
		});
		$('#tags').val(list);
		
	});
	
</script>

<% end %>
