<!-- .aside -->
<aside class="bg-light lter b-r aside-md hidden-print hidden-xs" id="nav">          
  <section class="vbox">
    <header class="header bg-primary lter text-center clearfix">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-dark btn-icon" title="Nuevo Comprobante" data-toggle="modal" data-target="#uploadModal"><i class="fa fa-plus"></i></button> 
        <div class="btn-group hidden-nav-xs">
			<a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#uploadModal" name="commit">Subir Comprobante(s)</a>
        </div>
      </div>
    </header>
    <section class="w-f scrollable">
      <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
        
        <!-- nav -->
        <nav class="nav-primary hidden-xs">
          <ul class="nav">
            <li >
              <a href="<%= authenticated_root_url %>">
                <i class="fa fa-dashboard icon">
                  <b class="bg-danger"></b>
                </i>
                <span>Dashboard</span>
              </a>
            </li>
            <li >
              <a href="#">
                <i class="fa fa-arrow-up icon">
                  <b class="bg-warning"></b>
                </i>
                <span class="pull-right">
                  <i class="fa fa-angle-down text"></i>
                  <i class="fa fa-angle-up text-active"></i>
                </span>
                <span>Emitidos</span>
              </a>
              <ul class="nav lt">
                <li >
                  <a href="<%= emitidos_url %>" >                                                        
                    <i class="fa fa-angle-right"></i>
                    <span>Todos</span>
                  </a>
                </li>
              </ul>
            </li>
            <li >
              <a href="#"  >
                <i class="fa fa-arrow-down icon">
                  <b class="bg-success"></b>
                </i>
                <span class="pull-right">
                  <i class="fa fa-angle-down text"></i>
                  <i class="fa fa-angle-up text-active"></i>
                </span>
                <span>Recibidos</span>
              </a>
              <ul class="nav lt">
                <li >
                  <a href="<%= recibidos_url %>" >                                                        
                    <i class="fa fa-angle-right"></i>
                    <span>Todos</span>
                  </a>
                </li>
              </ul>
                
            <li>
              <a href="#pages"  >
                <i class="fa fa-tags icon">
                  <b class="bg-primary"></b>
                </i>
                <span class="pull-right">
                  <i class="fa fa-angle-down text"></i>
                  <i class="fa fa-angle-up text-active"></i>
                </span>
                <span>Tags</span>
              </a>
              <ul class="nav lt">
                <%  (current_user.owned_tags.order(taggings_count: :desc).limit 10).each do |tag| %>
	                <li >
	                  <a href="#" >                                                        
	                    <i class="fa fa-angle-right"></i>
	                    <span><%= tag %></span>
	                  </a>
	                </li>
				<% end %>
              </ul>
            </li>
            <li>
              <a href="#"  >
                <b class="badge bg-danger pull-right">3</b>
                <i class="fa fa-bell icon">
                  <b class="bg-primary dker"></b>
                </i>
                <span>Alertas</span>
              </a>
            </li>
            <li>
              <a href="notebook.html"  >
                <i class="fa fa-pencil icon">
                  <b class="bg-info"></b>
                </i>
                <span>Notes</span>
              </a>
            </li>
            <li >
              <a href="#subir">
                <i class="fa fa-cloud-upload icon">
                  <b class="bg-dark"></b>
                </i>
                <span class="pull-right">
                  <i class="fa fa-angle-down text"></i>
                  <i class="fa fa-angle-up text-active"></i>
                </span>
                <span>Cargar</span>
              </a>
              <ul class="nav lt">
				<li>
					<strong>Drag & Drop</strong>
					<div class="dropfile visible-lg" id="nuevo_comprobanteOLD">
						<small>Arrastre una Comprobante para Cargar</small>
					</div>
				</li>
				<hr>
				<li>
					<strong>O Seleccione un Archivo</strong>
					<%= form_for(Comprobante.new, :url => upload_comprobante_path, :html => {:multipart => true, :class => 'bs-example form-horizontal', :id => 'new_comprobante'} ) do |f| %>
					  <%= f.file_field :comprobante %>
					  <%= f.submit 'Cargar', {:class => 'btn btn-sm btn-primary'} %>
					<% end %>
				</li>
			</ul>
		</li>
          </ul>
        </nav>
        <!-- / nav -->
      </div>
    </section>
    
    <footer class="footer lt hidden-xs b-t b-light">
      <div id="invite" class="dropup">                
        <section class="dropdown-menu on aside-md m-l-n">
          <section class="panel bg-white">
            <header class="panel-heading b-b b-light">
              SoyReceptor <i class="fa fa-circle text-success"></i>
            </header>
            <div class="panel-body animated fadeInRight">
              <p class="text-sm">Un servicio de Piloto Automatico, S.A. de C.V.</p>
              <p><a href="#" class="btn btn-sm btn-dark">Sitio Web Piloto Automatico</a></p>
            </div>
          </section>
        </section>
      </div>
      <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-default btn-icon">
        <i class="fa fa-angle-left text"></i>
        <i class="fa fa-angle-right text-active"></i>
      </a>
      <div class="btn-group hidden-nav-xs">
        <button type="button" title="Contacts" class="btn btn-icon btn-sm btn-default" data-toggle="dropdown" data-target="#invite"><i class="fa fa-question"></i></button>
      </div>
    </footer>
	
  </section>
</aside>
<% content_for :specific_js do %>
	
	<script type="text/javascript" charset="utf-8">
		
		var nuevo_comprobante = document.getElementById("nuevo_comprobante");
		var nuevo_oldstyle = document.getElementById("files");
		
		// nuevo_drop function
		nuevo_drop = function(evt) {   
		    evt.stopPropagation();
		    evt.preventDefault();
			
			for (a = 0; a < evt.dataTransfer.files.length; ++a){
				
				var file = evt.dataTransfer.files[a];
				//console.log(file);
				var formData = new FormData();
	 			formData.append('file', file);
				
	 			// upload File
	 			var xhr = new XMLHttpRequest();
	 			xhr.open('POST', '<%= upload_comprobante_url %>');
	 			xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
	 			xhr.onload = function () {
	 			  if (xhr.status === 200) {
	 				alert('Comprobante Cargado Con Exito!');
	 			  } else {
	 			    alert('Error al Cargar Comprobante, Favor de Intentar Nuevamente.');
	 			  }
	 			};
	
	 			xhr.send(formData);

	 		  }
			}
		  // /.nuevo_drop function
		  
		  // nuevo_oldstyle function
		  nuevo_old = function(evt){
  		    evt.stopPropagation();
  		    evt.preventDefault();
			
			for (a = 0; a < evt.target.files.length; ++a){
				
				var file = evt.target.files[a];
				var formData = new FormData();
	 			formData.append('file', file);
				
	 			// upload File
	 			var xhr = new XMLHttpRequest();
	 			xhr.open('POST', '<%= upload_comprobante_url %>');
	 			xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
	 			xhr.onload = function () {
	 			  if (xhr.status === 200) {
	 				alert('Comprobante Cargado Con Exito!');
	 			  } else {
	 			    alert('Error al Cargar Comprobante, Favor de Intentar Nuevamente.');
	 			  }
	 			};
	
	 			xhr.send(formData);
				
			}
			
		  }
		  // /.nuevo_oldstyle function
		  
		nuevo_comprobante.addEventListener("drop", nuevo_drop, false);
		nuevo_oldstyle.addEventListener("change", nuevo_old, false);
		
	</script>
	
<% end %>
<!-- /.aside -->