<!DOCTYPE html>
<html lang="es" class="app">
<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "SoyReceptor" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SoyReceptor" %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :specific_css %>
  <%= csrf_meta_tags %>
</head>
  
  <body class="">
	  <section class="vbox">
		  <%= render 'layouts/navigation' %>
	      <section>
	        <section class="hbox stretch">
	          
			  <%= render 'layouts/aside' %>
			  
			  <section id="content">
			    <section class="vbox">          
			      <section class="scrollable padder"> <!-- wrapper -->
					<%= yield :breadcrumbs %>
					<%= render 'layouts/flash_messages' %>
					
					<!-- .yield -->
			  		<%= yield %>
					<!-- /.yield -->
					
				  </section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
			  </section>
			  
	        <aside class="bg-light lter b-l aside-md hide" id="notes">
	          <div class="wrapper">Notification</div>
	        </aside>
	      </section>
	    </section>
	  </section>
	<%= javascript_include_tag 'application' %>
	<%= yield :specific_js %>
  <script type='text/javascript'>
   $(function(){

  // 
  var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  var d1 = [];
  for (var i = 0; i <= 11; i += 1) {
    d1.push([i, parseInt((Math.floor(Math.random() * (1 + 20 - 10))) + 10)]);
  }
  var d2 = [];
  for (var i = 0; i <= 6; i += 1) {
    d2.push([i, parseInt((Math.floor(Math.random() * (1 + 30 - 10))) + 10)]);
  }
  var d3 = [];
  for (var i = 0; i <= 6; i += 1) {
    d3.push([i, parseInt((Math.floor(Math.random() * (1 + 30 - 10))) + 10)]);
  }
  $("#flot-chart-1").length && $.plot($("#flot-chart-1"), [{
          data: d2,
          label: "Received Invoices"
      }, {
          data: d3,
          label: "Sent Invoices"
      }], 
      {
        series: {
            lines: {
                show: true,
                lineWidth: 1,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.2
                    }, {
                        opacity: 0.1
                    }]
                }
            },
            points: {
                show: true
            },
            shadowSize: 2
        },
        grid: {
            hoverable: true,
            clickable: true,
            tickColor: "#f0f0f0",
            borderWidth: 0
        },
        colors: ["#dddddd","#89cb4e"],
        xaxis: {
            ticks: 15,
            tickDecimals: 0
        },
        yaxis: {
            ticks: 10,
            tickDecimals: 0
        },
        tooltip: true,
        tooltipOpts: {
          content: "'%s' of %x.1 is %y.4",
          defaultTheme: false,
          shifts: {
            x: 0,
            y: 20
          }
        }
      }
  );


  $("#flot-chart-2").length && $.plot($("#flot-chart-2"), [{
          data: d2,
          label: "Received Invoices"
      }, {
          data: d3,
          label: "Sent Invoices"
      }], 
      {
        series: {
            lines: {
                show: true,
                lineWidth: 1,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.2
                    }, {
                        opacity: 0.1
                    }]
                }
            },
            points: {
                show: true
            },
            shadowSize: 2
        },
        grid: {
            hoverable: true,
            clickable: true,
            tickColor: "#f0f0f0",
            borderWidth: 0
        },
        colors: ["#dddddd","#89cb4e"],
        xaxis: {
            ticks: 15,
            tickDecimals: 0
        },
        yaxis: {
            ticks: 10,
            tickDecimals: 0
        },
        tooltip: true,
        tooltipOpts: {
          content: "'%s' of %x.1 is %y.4",
          defaultTheme: false,
          shifts: {
            x: 0,
            y: 20
          }
        }
      }
  );

  // bar
  var top_10_clients = <%= raw @top_10_clients %>;
  var client_x_axis = [];
  var client_data = [];
  $.map(top_10_clients,function(val,i) {
    ind = parseInt((i+1)*5);
    company_name = val[0];
    client_x_axis.push([ind,company_name]);
    client_data.push([ind,val[1]]);
  });
  
  var top_10_suppliers = <%= raw @top_10_suppliers %>;
  var supplier_x_axis = [];
  var supplier_data = [];
  $.map(top_10_suppliers,function(val,i) {
    ind = parseInt((i+1)*5);
    company_name = val[0];
    supplier_x_axis.push([ind,company_name]);
    supplier_data.push([ind,val[1]]);
  });
  
  var data1 = [
    {
        label: "Top 10 clients of the year",
        data: client_data,
        bars: {
            show: true,
            fill: true,
            lineWidth: 1,
            order: 1,
            fillColor:  "#6783b7"
        },
        color: "#6783b7"
    }
  ];
  
  var data2 = [
    {
        label: "Top 10 suppliers of the year",
        data: supplier_data,
        bars: {
            show: true,
            fill: true,
            lineWidth: 1,
            order: 1,
            fillColor:  "#6783b7"
        },
        color: "#6783b7"
    }
  ];

  $("#client-bar").length && $.plot($("#client-bar"), data1, {
      xaxis: {
         ticks: client_x_axis
      },
      yaxis: {
          
      },
      grid: {
          hoverable: true,
          clickable: false,
          borderWidth: 0
      },
      legend: {
          labelBoxBorderColor: "none",
          position: "left"
      },
      series: {
          shadowSize: 1
      },
      tooltip: true,
  });

  $("#supplier-bar").length && $.plot($("#supplier-bar"), data2, {
      xaxis: {
         ticks: supplier_x_axis 
      },
      yaxis: {
          
      },
      grid: {
          hoverable: true,
          clickable: false,
          borderWidth: 0
      },
      legend: {
          labelBoxBorderColor: "none",
          position: "left"
      },
      series: {
          shadowSize: 1
      },
      tooltip: true,
  });

});

  </script>
  </body>
  
</html>
