<!DOCTYPE html>
<html lang="es" class="bg-dark">
<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "SoyReceptor" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Soyreceptor" %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
	<body class="">
		<%= render 'layouts/flash_messages' %>
		<!-- .yield -->
  		<%= yield %>
		<!-- /.yield -->
		<!-- footer -->
		<footer id="footer">
		  <div class="text-center padder">
		    <p>
		      <small>Piloto Automatico S.A. de C.V.<br>&copy; 2014</small>
		    </p>
		  </div>
		</footer>
		<!-- / footer -->
		<%= javascript_include_tag 'application' %>
    <% if @plan.present? and @plan.price>0 %>
        <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
        <script type="text/javascript">
            // Conekta Public Key
            Conekta.setPublishableKey('key_KJysdbf6PotS2ut2');
            
            $(function(){
              $("#new_user").submit(function(event) {
                event.preventDefault();
                var $form;
                $form = $(this);
                /* Prevent the button from submitting multiple times */
                $form.find("button").prop("disabled", true);
                console.log('test');
                Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
                /* Prevent form information from being sent to the server */
                return false;
              });
            }); 

            var conektaSuccessResponseHandler;
            conektaSuccessResponseHandler = function(token) {
              var $form;
              $form = $("#new_user");
              /* Insert the token_id into the form so it gets submitted to the server */
              console.log(token);
              $form.append($("<input type=\"hidden\" name=\"user[conektaTokenId]\" />").val(token.id));
              $form.get(0).submit();
            };

            var conektaErrorResponseHandler;
            conektaErrorResponseHandler = function(response) {
              var $form;
              $form = $("#new_user");
              $form.find(".card-errors").text(response.message);
              $form.find("button").prop("disabled", false);
            };
            // ...
        </script>
    <% end %>
	</body>
</html>
