<!DOCTYPE html>
<html lang="es" class="app">
<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "SoyReceptor" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Soyreceptor" %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :specific_css %>
  <%= csrf_meta_tags %>
</head>
  
  <body class="">
	  <section class="vbox">
	      <section>
	        <section class="hbox stretch">
			      <section id="content">
			        <section class="vbox bg-white">          
			  		      <%= yield %>
				      </section>
			      </section>
	      </section>
	    </section>
	  </section>
	<%= wicked_pdf_javascript_include_tag 'application' %>
	<%= yield :specific_js %>
  </body>
</html>
